
#Skills{
    width: 100vw;
    min-height: 80vh;
    height: auto;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;

    .mainBox {
        height: auto;
        background-color: rgb(255, 239, 220);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
  
        .searchBar {
           background-color: rgb(133, 188, 210);
           text-align: center;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: center;
           padding: 0.2em;
           border-radius: 0 0 1em 1em;
  
           .searchBarForm {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              margin: 0.2em 2em;
  
              .inputBox {
                 border-color: grey;
                 color: rgb(75, 75, 233);
                 font-size: 1.1em;
                 font-weight: bold;
                 background-color: white;
                 width: 15em;
              }
           }
        }
  
        .skillsList {         
           background-color: rgb(133, 188, 210);
           border-radius: 1em;
           display: flex;
           flex-direction: column;
           max-width: 90vw;
           min-height: 75vh;
           height: auto;
           margin: 1em;
           padding: 0.5em;
           align-items: stretch;
           justify-content: flex-start;
        }
     }
}