@import '../../variables.scss';

.PositionCard {
   padding: 5px;
   margin: 5px;
   background-color: $textBoxBackground;
   border-radius: 5px;
   border: 1px solid $borderThin;
   height: auto;
   max-width: 800px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;

   .textCardsColumn {
      display: flex;
      flex-direction: column;

      .cardTitle {
         color: $titleText;
         font-weight: bold;
         font-size: 1.2em;
         margin: 2px;
      }

      .cardCompany {
         color: $textBoxFontColor;
         font-weight: bold;
         font-size: 1.1em;
         margin: 2px;
      }

      .cardText {
         color: $textBoxFontColor;
         margin: 2px;
      }
   }

   .itemColumn {
      display: flex;
      flex-direction: column;

      .detailsButton {
         background-color: $buttonBackground;
         border: solid 1px $borderThin;
         width: fit-content;
         padding: 2px 5px;
         margin: 5px 3px;
         border-radius: 5px;
      }

      .detailsButton:hover {
         background-color: $buttonBackgroundHover;
         font-weight: bold;
      }
   }
}