.PositionCard {
   padding: 5px;
   margin: 5px;
   background-color: white;
   border-radius: 5px;
   border: 1px solid grey;
   height: auto;
   max-width: 800px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;

   .textCardsColumn {
      display: flex;
      flex-direction: column;

      .cardTitle {
         color: rgb(75, 75, 233);
         font-weight: bold;
         font-size: 1.2em;
         margin: 2px;
      }

      .cardCompany {
         color: black;
         font-weight: bold;
         font-size: 1.1em;
         margin: 2px;
      }

      .cardText {
         color: black;
         margin: 2px;
      }
   }

   .itemColumn {
      display: flex;
      flex-direction: column;

      #detailsButton {
         background-color: sandybrown;
         border: solid 1px grey;
         width: fit-content;
         padding: 2px 5px;
         margin: 5px 3px;
         border-radius: 5px;
      }

      #detailsButton:hover {
         background-color: red;
         font-weight: bold;
      }
   }
}