@import '../../../variables.scss';

#ApplicantProfile {
   width: 100vw;
   min-height: 80vh;

   .mainBox {
      background-color: $generalBackground;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .userInfo {
         background-color: $containerBackground;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         max-width: 1100px;
         width: 90vw;
         height: auto;
         margin: 1em;
         padding: 0.5em;
         align-items: center;
         justify-content: flex-start;

         .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
         }

         .column {
            display: flex;
            flex-direction: column;
         }

         .userInfoItem {
            padding: 5px;
            margin: 3px;
            background-color: $textBoxBackground;
            border-radius: 5px;
            border: 1px solid $borderThin;
            height: auto;
            width: 100%;

            .userInfoSection {
               color: $titleText;
               font-weight: bold;
               font-size: 1.3em;
               margin: 2px;
               text-align: center;
            }

            .userInfoName {
               color: $titleText;
               font-weight: bold;
               font-size: 1.2em;
               margin: 2px;
               width: fit-content;
               padding: 0;
            }

            .userInfoRole {
               color: $textBoxFontColor;
               margin: 2px;
               font-weight: bold;
               width: fit-content;
            }

            .userInfoHeading {
               color: $textBoxFontColor;
               margin: 3px;
               font-weight: bold;
               width: fit-content;
            }

            .userInfoText {
               color: $textBoxFontColor;
               margin: 2px;
               width: fit-content;
            }

            .skillContainer {
               margin: 2px;
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;

               .skillTag {
                  background-color: $skillTagBackground;
                  color: $skillTagText;
                  border: 1px solid $skillTagBorder;
                  border-radius: 1em;
                  padding: 1px 8px;
                  margin: 3px 5px 3px 0px;
                  width: fit-content;
               }
            }

            #detailsButton {
               background-color: $buttonBackground;
               border: solid 1px $borderThin;
               width: fit-content;
               padding: 2px 5px;
               margin: 5px 3px;
               border-radius: 5px;
            }

            #detailsButton:hover {
               background-color: $buttonBackgroundHover;
            }
         }
      }
   }
}