#Positions {
   width: 100vw;
   height: 80vh;
   background-color: darkgrey;

   .mainBox {
      height: 100%;
      background-color: aquamarine;
      display: flex;
      align-items: center;
      justify-content: top;
      flex-direction: column;

      .searchBar {
         background-color: lightgrey;
         text-align: center;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         height: 5vh;
         width: 100vw;

         .searchBarForm {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 2em;

            .inputBox {
               border-color: grey;
               color: black;
               background-color: white;
               width: 15em;
               height: 1.5em;
            }
         }
      }

      .positionsList {         
         background-color: lightgrey;
         display: flex;
         flex-direction: column;
         width: 90vw;
         height: 70vh;
         align-items: center;
         justify-content: center;
      }
   }
}