#PositionDetails {
    width: 100vw;
    height: 80vh;
    background-color: rgb(255, 233, 207);
    display: flex;
    justify-content: center;

    .positionTextBox {
        margin: 0.5em;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        min-width: 60vw;
        border-radius: 5px;


        .cardTitle {
            color: rgb(75, 75, 233);
            font-weight: bold;
            font-size: 1.4em;
            margin: 2px 2em 2px 2em;
        }

        .cardCompany {
            color: black;
            font-weight: bold;
            font-size: 1.2em;
            margin: 2px 2em 2px 2em;
        }

        .cardText {
            color: black;
            margin: 2px 2em 2px 2em;
        }
    }
}