@import '../../variables.scss';

#Home {
   width: 100vw;
   min-height: 80vh;
   background-color: $generalBackground;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

   .mainBox {
      width: 85vw;
      min-width: 400px;
      margin-top: 1em;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .rowJoinUs {
         background-color: $textBoxBackground;
         border-radius: 1em;
         padding: 1em;
         margin-bottom: 1em;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 100%;

         .joinUsImage {
            display: flex;
            justify-content: center;

            .homeImg {
               background-color: blue;
               width: 90%;
               height: auto;
            }
         }

         .joinUsText {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            h1 {
               text-align: center;
               font-size: 2em;
               color: brown
            }

            .buttonsContainer {
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: center;

               #largeButton {
                  background-color: $buttonBackground;
                  color: black;
                  border: solid 1px $borderThin;
                  width: fit-content;
                  padding: 0.1em 1em;
                  margin: 0.2em 2em;
                  border-radius: 1em;
                  font-size: 1.6em;
               }

               #largeButton:hover {
                  background-color: $buttonBackgroundHover;
               }
            }
         }
      }

      .rowPositions {
         background-color: $textBoxBackground;
         border-radius: 1em;
         padding: 1em;
         margin-bottom: 1em;
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         justify-content: center;
         width: 100%;

         .positionsImage {
            min-width: 350px;
            width: 50%;
            height: auto;

            .homeImg {
               width: 100%;
               height: auto;
            }
         }

         .positionsText {
            display: flex;
            flex-direction: column;
            margin-top: 2em;

            h2 {
               text-align: left;
               margin-left: 0.5em;
               font-size: 2em;
               color: brown
            }

            p {
               text-align: left;
               margin-left: 1em;
               font-size: 1.2em;
               color: black
            }

            #largeButton {
               background-color: $buttonBackground;
               color: black;
               border: solid 1px $borderThin;
               width: fit-content;
               padding: 0.1em 1em;
               margin: 0.2em 2em;
               border-radius: 1em;
               font-size: 1.6em;
            }

            #largeButton:hover {
               background-color: $buttonBackgroundHover;
            }
         }
      }

      .rowSkills {
         background-color: $textBoxBackground;
         border-radius: 1em;
         padding: 1em;
         margin-bottom: 1em;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 100%;

         .rowImages {
            margin-bottom: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .skillImage1 {
               width: 50%;
               display: flex;
               flex-direction: column;
               margin-right: 1em;

               h2 {
                  text-align: left;
                  margin-left: 0.5em;
                  font-size: 2em;
                  color: brown
               }

               .homeImg {
                  width: 100%;
                  height: auto;
               }
            }

            .skillImage2 {
               width: 50%;
               display: flex;
               flex-direction: column;

               .homeImg {
                  width: 100%;
                  height: auto;
               }

               h2 {
                  text-align: left;
                  margin-left: 0.5em;
                  font-size: 2em;
                  color: brown
               }
            }
         }

         .skillsText {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
               font-size: 1.2em;
               color: black;
               padding: 0;
               margin: 0;
            }

            #largeButton {
               background-color: $buttonBackground;
               color: black;
               border: solid 1px $borderThin;
               width: fit-content;
               padding: 0.1em 1em;
               margin: 0.2em 2em;
               border-radius: 1em;
               font-size: 1.6em;
            }

            #largeButton:hover {
               background-color: $buttonBackgroundHover;
            }
         }
      }

      .rowComingSoon {
         background-color: $textBoxBackground;
         border-radius: 1em;
         padding: 1em;
         margin-bottom: 1em;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 100%;

         .rowImages {
            margin-bottom: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .companiesImage {
               width: 50%;
               display: flex;
               flex-direction: column;
               margin-right: 1em;

               h2 {
                  text-align: left;
                  margin-left: 0.5em;
                  font-size: 2em;
                  color: brown
               }

               .homeImg {
                  width: 100%;
                  height: auto;
               }
            }

            .usersImage {
               width: 50%;
               display: flex;
               flex-direction: column;

               .homeImg {
                  width: 100%;
                  height: auto;
               }

               h2 {
                  text-align: left;
                  margin-left: 0.5em;
                  font-size: 2em;
                  color: brown
               }
            }
         }
         
         .comingSoonText {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
               text-align: left;
               margin-left: 0.5em;
               font-size: 2em;
               color: red
            }
         }
      }

      @media(max-width: 768px) {
         .rowPositions {
            flex-wrap: wrap;

            .positionsText {
               align-items: center;

               h2 {
                  text-align: center;
                  font-size: 1.8em;
               }

               p {
                  text-align: center;
               }
            }
         }

         .rowSkills {
            .rowImages {
               flex-wrap: wrap;

               .skillImage1 {
                  width: 100%;
                  margin-right: 0;
                  margin-bottom: 1em;
               }
               
               .skillImage2 {
                  width: 100%;
               }
            }
         }

         .rowComingSoon {
            .rowImages {
               flex-wrap: wrap;

               .companiesImage {
                  width: 100%;
                  margin-right: 0;
                  margin-bottom: 1em;
               }
               
               .usersImage {
                  width: 100%;
               }
            }
         }
      }
   }
}