@import '../../variables.scss';

#Header {
    width: 100vw;

    .black {
        background-color: $menusBackground;
        height: 6vh;

        #logOutButton{
            background-color: $menusBackground;
            border: 0;
        }
    }
}