#Header {
    width: 100vw;

    .black {
        background-color: rgb(53, 102, 121);
        height: 6vh;

        #logOutButton{
            background-color: rgb(53, 102, 121);
            border: 0;
        }
    }
}