#PositionDetails {
    width: 100vw;
    min-height: 80vh;
    background-color: rgb(255, 233, 207);
    display: flex;
    justify-content: center;

    .positionTextBox {
        margin: 0.5em;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        min-width: 60vw;
        border-radius: 1em;

        .cardTitle {
            color: rgb(75, 75, 233);
            font-weight: bold;
            font-size: 1.4em;
            margin: 2px 2em 2px 2em;
        }

        .cardCompany {
            color: black;
            font-weight: bold;
            font-size: 1.2em;
            margin: 2px 2em 2px 2em;
        }

        .cardText {
            color: black;
            margin: 2px 2em 2px 2em;
        }
        
        .msgText {
            color: rgb(75, 75, 233);
            margin: 2px 2em 2px 2em;
        }

        #detailsButton {
            background-color: sandybrown;
            border: solid 1px grey;
            width: fit-content;
            padding: 2px 5px;
            margin: 5px 2em;
            border-radius: 5px;
        }
    
        #detailsButton:hover {
            background-color: red;
            font-weight: bold;
        }

        .skillContainer {            
            margin: 2px 2em 2px 2em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .skillTag {
                background-color: rgb(178, 231, 252);
                color: black;
                border: 1px solid rgb(75, 75, 233);
                border-radius: 1em;
                padding: 1px 8px;
                margin: 3px 5px;
                width: fit-content;
            }
        }        
    }
}