
#Footer{
    width: 100vw;
    height: 14vh;
    background-color: rgb(53, 102, 121);

    .mainBox{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 1em;
            color: white;
            font-weight: bold;
        }
    }
}