@import '../../../variables.scss';

#Positions {
   width: 100vw;
   min-height: 80vh;
   height: auto;
   display: flex;
   flex-direction: column;

   .mainBox {
      height: 100%;
      min-height: 80vh;
      background-color: $generalBackground;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .searchBar {
         background-color: $containerBackground;
         text-align: center;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         padding: 0.2em;
         border-radius: 0 0 1em 1em;

         .searchBarForm {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0.2em 2em;

            .inputBox {
               border-color: $borderThin;
               color: $titleText;
               font-size: 1.1em;
               font-weight: bold;
               background-color: $textBoxBackground;
               width: 15em;
            }
         }
      }

      .positionsList {
         background-color: $containerBackground;
         border-radius: 1em;
         display: flex;
         flex-direction: column;
         max-width: 800px;
         min-width: 21em;
         width: 90vw;
         height: auto;
         margin: 1em;
         padding: 0.5em;
         align-items: stretch;
         justify-content: flex-start;
      }
   }
}