
// App main colors definition
$titleBoxBackground: sandybrown;
$borderThin: grey;
$borderThick: rgb(53, 102, 121);
$buttonBackground: sandybrown;
$buttonText: white;
$buttonBackgroundHover: rgb(254, 108, 29);
$buttonTextHover: white;
$containerBackground: rgb(133, 188, 210);
$errorFontColor: yellow;
$generalBackground: rgb(242, 237, 230);
$menusBackground: rgb(53, 102, 121);
$msgFontColor: rgb(75, 75, 233);
$skillTagBorder: rgb(75, 75, 233);
$skillTagBackground: rgb(178, 231, 252);
$skillTagText: black;
$textBoxBackground: white;
$textBoxFontColor: black;
$titleText: rgb(75, 75, 233);
