
// App main colors definition
$borderThin: grey;
$borderThick: rgb(53, 102, 121);
$buttonBackground: sandybrown;
$buttonText: white;
$buttonBackgroundHover: red;
$buttonTextHover: white;
$containerBackground: rgb(133, 188, 210);
$generalBackground: rgb(255, 239, 220);
$menusBackground: rgb(53, 102, 121);
$skillTagBorder: rgb(75, 75, 233);
$skillTagBackground: rgb(178, 231, 252);
$skillTagText: black;
$textBoxBackground: white;
$textBoxFontColor: black;
$titleText: rgb(75, 75, 233);
